
header img{
    width: 150px;
    height: auto;
}
header{
    min-height: 10vh;
    background-color:#060047;
}
nav{
    min-height: 3vh;
}
#filter{
    min-height: 2vh;
}
main{
    min-height: 80vh;

}

footer{
    min-height: 5vh;
    background-color:#B3005E;
}
#active{
    background-color:#E90064;
}

nav{
    background-color:#B3005E;
    padding: 0.5rem;
}

#np1{
    justify-content: center;
}
label{
    font-size: x-small;
}

.row{
    margin-left: 0%;
    margin-right: 0%;
}
form{
    margin-left: 8rem;
    margin-right: 8rem;
}
form label{
    padding-top: 1rem;
}
#submit{
    margin-top: 1rem;
    justify-content: end;
}
section{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
