
header img{
    width: 150px;
    height: auto;
}
header{
    min-height: 10vh;
    background-color:#060047;
}
footer{
    min-height: 5vh;
    background-color:#B3005E;
}
#active{
    background-color:#E90064;
}

nav{
    background-color:#B3005E;
    padding: 0.5rem;
}
#np{
    margin-left: 0.8rem;
}
